@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

body {
    margin: 40px;
    background-color: #fff4e5;
}

h1 {
    font-family: 'Urbanist', sans-serif;
    font-size: 36pt;
    font-weight: 400;
    margin-top: 120px;
}

mark {
   background: none;
   color: orange;
   font-weight: 900;
}

.tegel {
    width: 350px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: orange;
    display: inline-block;
    padding: 0px;
    border-radius: 10px;
    margin: 40px 0px 0px 0px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    transition: transform .5s ease; 
}

tegel:active {
    color: red;
}

#image {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 10px 10px 0px 0px;
}

.tegel:hover {
    opacity: 90%;
    transform: scale(0.98);
    transition: transform .5s ease; 
    cursor: pointer;
}

#subtitle {
    color: black;
    font-family: 'Urbanist', sans-serif;
    font-size: 21pt;
    font-weight: 800;
    margin: 20px 20px 40px 20px;
}

#playbutton {
    background-color: transparent;
    color: white;
    width: 20%;
    height: auto;
    z-index: 1000;
    margin-left: 20px;
    margin-top: -50px;
}

.flex-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .tegel {
      width: 100%;
      margin-bottom: 20px;
    }
  }